#
# (c) 2016 Boundless, http://boundlessgeo.com
# This code is licensed under the GPL 2.0 license.
#
python-dateutil
requests==2.5.0
qgiscommons

https://github.com/boundlessgeo/gsconfig.git#egg=gsconfig
https://github.com/boundlessgeo/gsimporter.git#egg=gsimporter

# test requirements


