#
# (c) 2016 Boundless, http://boundlessgeo.com
# This code is licensed under the GPL 2.0 license.
#
httplib2==0.8
python-dateutil==2.2
requests==2.5.0

https://github.com/boundlessgeo/gsconfig.git#egg=gsconfig
https://github.com/boundlessgeo/gsimporter.git#egg=gsimporter

# test requirements


